@font-face {
  font-family: "Gothic60";
  src: url("../fonts/Gothic60-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr UltraLight Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1920px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.header__logo {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;
  color: #000000;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header__links li a {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  transition: all 0.2s ease-out;
}
.header__links li a:hover {
  opacity: 0.7;
}
.promo {
  width: 100%;
  background: url(../images/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.promo__wrapper {
  height: 100%;
  display: flex;
  padding-bottom: 140px;
  box-sizing: border-box;
}
.promo__inner {
  max-width: 1458px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 117px;
  margin: 523px auto 0;
}
.promo__top {
  max-width: 528px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: flex-end;
}
h2 {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
}
h3 {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  color: #ffffff;
}
h4 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.88px;
  color: #000000;
}
h5 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 15.92px;
  color: #000000;
}
h6 {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 43.2px;
  color: #000000;
}
.promo__button {
  width: 352px;
  height: 70px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.promo__bottom {
  max-width: 592px;
  width: 100%;
}
.concept {
  width: 100%;
}
.concept__wrapper {
  padding-top: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.concept__top {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.concept__image {
  width: 538px;
  height: 448px;
}
.concept__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 19.9px;
  color: #000000;
}
.concept__top p {
  max-width: 352px;
  width: 100%;
  margin-bottom: 14px;
}
.concept__bottom {
  display: flex;
  gap: 20px;
}
.concept__bottom p {
  max-width: 538px;
  width: 100%;
}
.concept__image-main {
  width: 724px;
  height: 448px;
}
.concept__image-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services {
  width: 100%;
}
.services__wrapper {
  width: 100%;
  padding-top: 185px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 250px;
}
.services__text {
  max-width: 890px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.services__items {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.services__item {
  display: flex;
  gap: 39px;
}
.services__item-text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 811px;
  width: 100%;
  margin-top: 11px;
}
.services__item-text h3 {
  color: #000000;
}
.services__photo {
  max-width: 624px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services__top-img {
  width: 252px;
  height: 311px;
}
.services__top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services__bott-img {
  width: 454px;
  height: 391px;
  align-self: flex-end;
}
.services__bott-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  width: 100%;
}
.gallery__wrapper {
  padding-top: 190px;
  box-sizing: border-box;
  position: relative;
}

.gallery__container {
  width: 100%;
  height: 742px;
  overflow: hidden;
}

.gallery__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#counter {
  width: 47px;
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #ffffff;
}
#arrow-button {
  cursor: pointer;
}
.gallery__btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 79px;
  bottom: 87px;
}
.about {
  width: 100%;
}
.about__wrapper {
  padding-top: 185px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about__inner {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.about__item {
  max-width: 724px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.about__item-reverse {
  flex-direction: column-reverse;
}
.about__image {
  width: 724px;
  height: 338px;
}
.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__photo {
  width: 352px;
  height: 504px;
}
.about__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__image-reverse {
  height: 378px;
}
.contact {
  width: 100%;
}
.contact__wrapper {
  padding-top: 185px;
  padding-bottom: 139px;
  padding-left: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.contact__text {
  max-width: 756px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact__text h4 {
  margin-top: 60px;
}
.contact__form {
  width: 481px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
input {
  width: 294.01px;
  height: 46px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
}
input:not(:nth-child(3)) {
  margin-bottom: 35px;
}
input,
input::placeholder {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.88px;
  color: #000000;
}
input:focus::placeholder {
  color: transparent;
}
.contact__form button {
  width: 352px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 60px;
  background: transparent;
}
.contact__agreement {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 53px;
}
.contact__agreement span {
  width: 22px;
  height: 22px;
  border: 2px solid #000000;
  cursor: pointer;
}
.contact__check {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}
.contact__agreement span.active .contact__check {
  display: block;
}
.contact__image {
  width: 950px;
  height: 657px;
}
.contact__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  width: 100%;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  box-sizing: border-box;
}
.footer__link {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000000;
  border-bottom: 1px solid #000000;
  transition: all 0.2s ease-out;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__list {
  display: flex;
  align-items: center;
  gap: 75px;
}
.footer__list li a {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  color: #000000;
  transition: all 0.2s ease-out;
}
.footer__list li a:hover {
  opacity: 0.7;
}
/********works*********/
.works {
  width: 100%;
}
.works__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 185px;
  padding-bottom: 148px;
  box-sizing: border-box;
}
.works__top {
  display: flex;
  gap: 20px;
}
.works__top img {
  flex-basis: 50%;
  height: 100%;
  object-fit: cover;
}
.works__bott {
  display: flex;
  gap: 20px;
}
.works__bott-left {
  max-width: 538px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works__bott-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works__bott-right {
  max-width: 724px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.works__bott-top {
  display: flex;
  gap: 20px;
}
/*****contacts*****/
.contacts {
  width: 100%;
}
.contacts__wrapper {
  padding-top: 185px;
  padding-bottom: 158px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.contacts__top {
  display: flex;
  gap: 20px;
}
.contacts__top-image {
  width: 724px;
  height: 409px;
}
.contacts__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contacts__text {
  max-width: 910px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts__text-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  overflow: auto;
}
.contacts__bottom {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.contacts__items {
  display: flex;
  gap: 231px;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts__list li,
.contacts__list li a {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 23.88px;
  color: #000000;
  transition: all 0.2s ease-out;
}
.contacts__list li a:hover {
  opacity: 0.7;
}
