@font-face {
  font-family: "Gothic60";
  src: url("../fonts/Gothic60-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr UltraLight Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr Thin.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
.page {
  font-family: "HelveticaNeueCyr", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.container {
  max-width: 1920px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.header__logo {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  text-transform: uppercase;
  color: #000000;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 80px;
}
.header__links li a {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.promo {
  width: 100%;
  background: url(../images/promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.promo__wrapper {
  height: 100%;
  display: flex;
  padding-bottom: 140px;
  box-sizing: border-box;
}
.promo__inner {
  max-width: 1458px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 117px;
  margin: 523px auto 0;
}
.promo__top {
  max-width: 528px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: flex-end;
}
h2 {
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 38.4px;
  color: #ffffff;
}
.promo__button {
  width: 352px;
  height: 70px;
  border: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gothic60", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.promo__bottom {
  max-width: 592px;
  width: 100%;
}
